<section class="container">
    <div class="form-group sort-Options mr-2">
        <select name="orderBy" id="orderBy" class="form-control">
            <option value="NameAscending">Name-Ascending</option>
            <option value="NameDescending">Name-Descending</option>
            <option value="PriceAscending">Price-Ascending</option>
            <option value="PriceDescending">Price-Descending</option>
        </select>
    </div>
</section>