<section class="container">
    <div class="form-group sort-Options mr-2">
        <select name="orderBy" id="orderBy" class="form-control">
            <option value="NameAscending">Alphabetically</option>
            <option value="NameDescending">Reverse Alphabetically</option>
            <option value="PriceAscending">Price : low to high</option>
            <option value="PriceDescending">Price : high to low</option>
        </select>
    </div>
</section>