<div class="hero-content text-center text-black mb-3  w-full">
    <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">
            <span class="text-success">Looking</span> to
        </h1>
        <h2 class="mb-5 text-5xl font-bold">Buy a Product?</h2>
        <a href="#steps" class="btn btn-success">Get Started</a>
    </div>
</div>